.infoBlock {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-md);
}

.blue, .cyan, .green, .teal, .red, .yellow, .orange, .violet {
    background: #1C1C1E;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
